@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body{
    background-image: url(hangszerek.png);
    background-size: 300px;
}

h1{
    font-family: Great Vibes;
    font-size: 100px;
    text-align: center;
}

.barna {
    color:brown;
}
.piros {
    color:red;
}
.kek {
    color:blue;
}
.zold {
    color: green;
}

.kiemelt{
    font-weight: bold;
}

.jel{
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 6em;
}

.kepalairas{
    font-style: italic;
    height: auto;
    text-align: center;
    border: 1px black solid;
    border-radius: 6px;
}

li{
    list-style: url(dob-felsorolas.png);
    line-height: 3.5em;
}

.container{
    background-color: rgba(255, 255, 255, 0.8);
    border: solid 1px black;
}